.messages {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    margin-bottom: 10px;
    transition: 0.2s;
    text-align: center;
    bottom: 0;

    .message {
        padding: 10px;
        max-width: 300px;
        opacity: 0;
        pointer-events: none;

        &.show {
            opacity: 100%;
            pointer-events: initial;
        }

        &.success {
            background-color: #149714;
        }

        &.error {
            background-color: #cc0000;
        }
    }

}