.messages {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    margin-bottom: 10px;
    transition: 0.2s;
    bottom: -20px;
    opacity: 0;
    pointer-events: none;

    &.show {
        bottom: 0;
        opacity: 100%;
        pointer-events: initial;
    }

    .message {
        padding: 10px;
        max-width: 300px;

        &.success {
            background-color: #149714;
        }

        &.error {
            background-color: #cc0000;
        }
    }

}